# Web App Specifics & Logs
*.log
logs/
*.war
*.ear
*.zip
*.tar.gz

# Maven Build Artifacts
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# IDE - VS Code
.vscode/

# Project specific
renderer/node_modules/

# OS Specific Files
.DS_Store
Thumbs.db